<div class="container-fluid">

    <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

    </div>


    <label class="col-md-2">
        Sort by:
        <select ng-model="orderProp" >
            <option value="code">Alphabetical</option>
            <option value="modifiedDate">Newest</option>
        </select>
    </label>

    <button type="button" class="btn btn-success col-md-2" ng-click="open()">Добавить</button>

    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>code</th>
            <th>name</th>
            <th>enabled</th>
            <th>modified by</th>
            <th>modified date</th>
            <th></th>
        </tr>
        <tr ng-repeat="funnyName in funnyNames | filter:query | orderBy:orderProp">
            <td><a ng-click="open(funnyName)"> {{funnyName.id}}</a></td>
            <td><a ng-click="open(funnyName)"> {{funnyName.code}}</a></td>
            <td><a ng-click="open(funnyName)"> {{funnyName.name}}</a></td>
            <td><a ng-click="open(funnyName)"> {{funnyName.enabled}}</a></td>
            <td><a ng-click="open(funnyName)"> {{funnyName.modifiedBy}}</a></td>
            <td><a ng-click="open(funnyName)"> {{funnyName.modifiedDate}}</a></td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteFunnyName(funnyName)">Удалить</button></td>
        </tr>
    </table>
</div>