<form role="form" class="modal-body" xmlns="http://www.w3.org/1999/html">
    <div class="clearfix">
        <label for="code">Code</label>
        <input class="form-control" id="code" placeholder="Enter code" ng-model="funnyName.code" required="true">
    </div>
    <div class="clearfix">
        <label for="name">Name</label>
        <input class="form-control" id="name" placeholder="Enter name" ng-model="funnyName.name" required="true">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="funnyName.enabled"> Enabled
        </label>
    </div>
    <div class="clearfix">
        <label for="modifiedBy">Modified by</label>
        <input class="form-control" id="modifiedBy" placeholder="Enter username" ng-model="funnyName.modifiedBy" required="true">
    </div>
    <div class="clearfix">
        <label for="datetime">modifiedDate</label>

        <!--<div class="col-md-6">-->
            <p class="input-group">
                <!--<input class="form-control" id="datetime" placeholder="modifiedDate" ng-model="funnyName.modifiedDate">-->
                <input type="text" id="datetime" class="form-control" datepicker-popup="yyyy-MM-dd"
                       ng-model="funnyName.modifiedDate" is-open="opened" datepicker-options="dateOptions"
                       date-disabled="false"
                       required="true" close-text="Close"/>
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>

